<h1>Listing pages</h1>

<table border="1" class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Featured</th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= link_to(page.title, page ) %></td>
    <td><%= raw page.body %></td>
    <td><%= page.featured %></td>
    <td>
	    <%= link_to 'Show', admin_page_path(page) %>
        <%= link_to 'Edit', edit_admin_page_path(page) %>
        <%= link_to 'Destroy', admin_page_path(page), :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
<%= paginate @pages%>
<br />

<%= link_to 'New Page', new_admin_page_path, :class => "btn" %>
