<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Position</th>
    <th>Description</th>
    <th>Benefits</th>
    <th>Requirements</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.position %></td>
    <td><%= job.description %></td>
    <td><%= job.benefits %></td>
    <td><%= job.requirements %></td>
    <td><%= link_to 'Show', job, :class => "btn" %></td>
    <td><%= link_to 'Edit', edit_job_path(job), :class => "btn" %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete, :class => "btn" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job', new_job_path, :class => "btn" %>
