<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav affix">
				<ul class="nav nav-list nav-list-fixed-left">
					<li class="nav-header">Positions</li>
								
					<% @jobs.each do |job| %>
					<li>
						<a href="#pos<%= job.id.to_s %>"><%= job.position %></a>
						
					</li>
					</li>
					<% end %>
					
			    </ul>
			</div><!--/.well -->
		</div><!--/span-->
		<div class="span9">
			<div class="hero-unit" style="background-color:#ddd">
				<h1>jobs@arkavis</h1>
				<p>
					join the team
				</p>
				</p>
			</div>

			<% @jobs.each do |job| %>

			<div class="row-fluid" id="pos<%= job.id.to_s %>">
				<div class="span20">
					<h2><%= job.position %></h2>
					<p>
						<%= job.description %>
					</p>

					<h4>Required skills and experience</h4>
					<p>
						<%= job.requirements %>
					</p>
					<h4>Your Benefits</h4>
					<p>
						<%= job.benefits %>
					</p>
				</div><!--/span-->
			</div><!--/row-->
			<hr />

			<% end %>
		  <%= paginate @jobs%>
		</div><!--/span-->
	</div><!--/row-->

</div><!--/.fluid-container-->

</div>

</div>

