<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @game.title %>
</p>

<p>
  <b>Slogan:</b>
  <%= @game.slogan %>
</p>

<p>
  <b>About:</b>
  <%= @game.about %>
</p>

<p>
  <b>Features:</b>
  <%= @game.features %>
</p>

<hr />
<p>
  <b>Game Uploads:</b>
	<p>Swf_File: <%= @game.swf_file_file_name %></p>
	<p>Unity3d_File: <%= @game.unity3d_file_file_name %></p>
</p>
<hr />
<p>
  <b>Sreenshots:</b>
  
 	 <p class="float-left"><%= image_tag @game.screenshot_1.url(:thumb) %> <br /> <%= @game.screenshot_1_file_name %>;</p>
	 <p class="float-left"><%= image_tag @game.screenshot_2.url(:thumb) %> <br /> <%= @game.screenshot_2_file_name %>;</p>    
	 <p class="float-left"><%= image_tag @game.screenshot_3.url(:thumb) %> <br /> <%= @game.screenshot_3_file_name %>;</p>  
	 <p class="float-left"><%= image_tag @game.screenshot_4.url(:thumb) %> <br /> <%= @game.screenshot_4_file_name %>;</p>  
	 <p class="float-left"><%= image_tag @game.screenshot_5.url(:thumb) %> <br /> <%= @game.screenshot_5_file_name %> </p>  
	 
</p>

<div class="clear-left">
	
 <br />
 
<%= link_to 'Edit', edit_admin_game_path(@game), :class => "btn" %>
<%= link_to 'Back', admin_games_path, :class => "btn" %>
</div>