<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
<%= devise_error_messages! %>

<div class="container" >
	<div class="form-signin" >

		<form >
			<h2 class="form-signin-heading">Forgot your password?</h2>

			<div>
				<%= f.email_field :email, :placeholder => "Email address" %>
			</div>

			<div>
				<br />
				<%= f.submit "Send me reset password instructions", :class=>"btn btn-large btn-primary" %>
			</div>
			<% end %>

			<%= render "devise/shared/links" %>
		</form>
	</div>
	<!-- /container -->
</div>
