<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav affix">
				<ul class="nav nav-list">
					<li class="nav-header">game previews</li>
					<% @all_games.each do |game| %>
					<li <%= "class='active'" if (@game == game) %>>
						<%= link_to "#{game.title} (#{game.genre})", game %>
					</li>
					<% end %>
				</ul>
			</div><!--/.well -->
		</div><!--/span-->
		<div class="span9">
			<div class="hero-unit" style="background-color:#ddd">
				<h1><%= @game.title %></h1>
				<p><%= @game.slogan %></p>
				
				<p>
					<a class="fancybox" rel="screenshots" href="<%= @game.screenshot_1.url(:medium) %>"><img class="preview-image" src="<%= @game.screenshot_1.url(:thumb) %>" /></a>
					<a class="fancybox" rel="screenshots" href="<%= @game.screenshot_2.url(:medium) %>"><img class="preview-image" src="<%= @game.screenshot_2.url(:thumb) %>" /></a>
					<a class="fancybox" rel="screenshots" href="<%= @game.screenshot_3.url(:medium) %>"><img class="preview-image" src="<%= @game.screenshot_3.url(:thumb) %>" /></a>
					<a class="fancybox" rel="screenshots" href="<%= @game.screenshot_4.url(:medium) %>"><img class="preview-image" src="<%= @game.screenshot_4.url(:thumb) %>" /></a>
					<a class="fancybox" rel="screenshots" href="<%= @game.screenshot_5.url(:medium) %>"><img class="preview-image" src="<%= @game.screenshot_5.url(:thumb) %>" /></a>
				</p>
				
				<p>
					<a id="play-swf-button" class="btn btn-primary btn-large"  href="#play">PLAY NOW &raquo;</a>
				</p>
			
			<div class="row-fluid">
				<div class="span20">
					<h2>about</h2>
					<p>
						<%= raw @game.about.gsub("\n","<br/>") %>
					</p> 
				</div><!--/span-->
			</div><!--/row-->
			<div class="row-fluid">
				<div class="span20">
					<h2>features</h2>
					<p>	
						<%= raw @game.features.gsub("\n","<br/>") %>
					</p>
				</div><!--/span-->

			</div><!--/row-->
			<div class="row-fluid">
				<div class="span20">
					<h2>contact us</h2>
					<p>We're curious about your feedback!</p>
					<p><a class="btn" href="mailto:info@arkavis.com">Email us &raquo;</a></p>
					
				</div><!--/span-->
			</div><!--/row-->
		</div><!--/span-->
	</div><!--/row-->
</div><!--/.fluid-container-->
<% content_for :bottom do %>
<script type="text/javascript" charset="utf-8">
	
$(function(){
	$("#play-swf-button").click(function() {
		$.fancybox({
			'href':'<%= @game.swf_file %>',
			'autoDimensions': false,
			'width'      : 670,
			'height'      : 500,
			'autoScale'     : false,
			'transitionIn'    : 'none',
			'transitionOut'   : 'none',
			'centerOnScroll'  : true,
			'type'        : 'iframe'
		});
	});
})
</script>
<% end %>

