<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>



<table border="1">
  <tr>
    <th>Title</th>
  </tr>

<% @category.pages.each do |page| %>
  <tr>
    <td><%= link_to(page.title, page ) %></td>
  </tr>
<% end %>
</table>



<%= link_to 'Edit', edit_category_path(@category), :class => "btn" %> |
<%= link_to 'Back', categories_path, :class => "btn" %>
