<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>arkavis.com</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Le styles -->
	<%= stylesheet_link_tag "application", :media => "all" %>
	<style type="text/css">
	body {
		padding-top: 60px;
		padding-bottom: 40px;
	}
	a{
		color:black;
	}
	</style>
	<%= csrf_meta_tags %>
	<%= render "general/html5_shim" %>
	<%= render "general/google_analytics" %>
</head>
<body>
	
	<%= render "general/menu" %>
	
	<div style="width:100%" id="outer">
		<div class="container" style="margin-left:auto; margin-right:auto">
			<%= yield %>
			<hr/>
			<%= render "general/footer" %>		
		</div> <!-- /container -->
	</div>
	<script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-1.7-development-only.js" type="text/javascript" charset="utf-8"></script>
	<%= javascript_include_tag "application" %>
	<%= yield :bottom %>
</body>
</html>
